* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* navbar */

.navbar {
    height: 100px;
    background-color: #07131F;
}

.brand {
    padding: 40px 200px;
}

.brand img {
    width: 80px;
    margin-bottom: 15px;
}

/* fine navbar */


/* albums */

.containers-albums {
    height: calc(100% - 100px);
    background-color: #1E2C3C;
    padding: 70px 100px;
    position: relative;
}

.albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
    margin: auto;
}

.card {
    max-width: calc(100% / 3);
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.dimension {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30px 90px;
    background-color: #102031;
}

.dimension img {
    max-width: 300px;

}

.card-body h4 {
    max-width: 270px;
}

/* fine albums */

#album-selected {
    position: fixed;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 90%;

    background-color: #07131f93;
}

#card-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}